<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBg9M181UgLKYRA-ohnlC4aMY_ivkkpky8</string>
	<key>GCM_SENDER_ID</key>
	<string>420188564022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.welike2coding.elswhere</string>
	<key>PROJECT_ID</key>
	<string>elswhere-adaf5</string>
	<key>STORAGE_BUCKET</key>
	<string>elswhere-adaf5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420188564022:ios:d57b165c64ee77cc368697</string>
</dict>
</plist>